     .container{
      display: flex;
      justify-content: space-around;
     }
     .input{

      border: none;
      border-bottom: 1px solid gray;
      padding: 10px;
      margin-bottom: 10px;
      width: 90%;
      
     }
     p{
      color: gray;
     }
     #userError{
          width: 100%; 
          color: red;
     }
     #msg{
           width: 100%; 
          color: red;
     }
     #create{
          color: white;
           background-color: black;
     }
     #sign_in{
          color: black;
          background-color: white;
     }
     input{
          display: block;
     }